{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "htmlWhitespaceSensitivity": "css",
  "printWidth": 90,
  "semi": false,
  "singleAttributePerLine": true,
  "singleQuote": true,
  "trailingComma": "es5"
}
